<div style="margin-top: 2em; width: 100%;">
    <div style="margin-left: auto; margin-right: auto; width: 600px;">
        <script type="text/javascript">
        ( function() {
            if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
            var unit = {"calltype":"async[2]","publisher":"wordpursuits","width":550,"height":250,"sid":"Chitika Default","color_button":"bdbdbd","color_button_text":"3d3d3d"};
            var placement_id = window.CHITIKA.units.length;
            window.CHITIKA.units.push(unit);
            document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
        }());
        </script>
        <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
    </div>
</div>

<footer class="footer">
    <p>Copyright (c) 2016</p>
    <a href="/terms">Terms & Privacy</a> | 
    <a href="/contact">Contact Us</a>
</footer>