<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Word Pursuits</title>

<meta name="Description" CONTENT="The #1 source for finding more information about words on the Internet.">

<link href='https://fonts.googleapis.com/css?family=Marcellus|Gentium+Basic' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/animate.css">

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/vendor/polyfill.min.js"></script>
<script src="/js/vendor/levenshtein.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-82098762-1', 'auto');
ga('send', 'pageview');
</script>

<style>
    h1, h2, h3 {
        font-family: 'Marcellus', serif;
    }

    ul#results li {
        margin: 2px;
        background: #BBDEFB;
        padding: 5px;
        border: 1px solid #2196F3;
        border-radius: 4px;
    }

    ul#results li.notfound {
        background: #E3F2FD;
    }

    ul#results li:not(.notfound):hover {
        background: #fff;
    }

    ul#results li a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .inline-word {
        background: #BBDEFB;
        padding: 1px;
        border: 0px;
        border-radius: 4px;
    }

    .list-inline {
        margin-top: 9px;
    }

    p.filter {
        margin-top: 10px;
        padding: 5px;
        background: #FFF9C4;
        border: 1px solid #FDD835;
        border-radius: 4px;
    }

    .searchspan {
        float: right;
        margin-right: 6px;
        margin-top: -27px;
        position: relative;
        z-index: 2;
    }

    html {
    position: relative;
    min-height: 100%;
    }
    body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #f5f5f5;
        text-align: center;
        padding-top: 5px;
        border-top: 1px solid gainsboro;
    }

    #view-word-details {
        margin-top: 10px;
        display: block;
    }

    /* Start Wiktionary */
    .IPA {
        font-family: 'Gentium Basic', serif;
    }

    .NavContent {
        display: none;
    }

    .sister-wikipedia, .interProject {
        display: none;
    }

    /* End Wiktionary */

    /* Start Wikipedia */

    .wiki {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 580px;
    }

    .wiki iframe {
        border: 0;
        width: calc(100% + 161px);
        height: calc(500px + 80px);
        left: -161px;
        position: absolute;
        top: -80px;
    }

    @media(min-width: 990px) {
        .wiki iframe {
            left: -179px;
            width: calc(100% + 180px);
        }
    }

    /* End Wikipedia */

    /* Start Scrabble */
    .letter {
        text-align: center;
        font-size: 2rem;
        color: white;
    }

    .score {
        display: inline-block;
        float: right;
        position: absolute;
        top: 0px;
        right: 3px;
        margin-top: 0;
        padding: 0;
        font-size: 1.3rem;
        color: white;
    }

    .scrabble-tile {
        padding: 7px;
        display: inline-block;
        margin: 2px;
        border-radius: 4px;
        width: 40px;
        position: relative;
        box-shadow: 0px 5px 0px #b9a173;
        border: 1px solid #ceb88f;
        background: #eacda3; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #eacda3 , #d6ae7b); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #eacda3 , #d6ae7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(233,223,196,1)), color-stop(1%,rgba(233,223,196,1)), color-stop(2%,rgba(237,227,200,1)), color-stop(24%,rgba(237,227,200,1)), color-stop(25%,rgba(235,221,195,1)), color-stop(48%,rgba(233,223,196,1)), color-stop(49%,rgba(235,221,195,1)), color-stop(52%,rgba(230,216,189,1)), color-stop(53%,rgba(230,216,189,1)), color-stop(54%,rgba(233,219,192,1)), color-stop(55%,rgba(230,216,189,1)), color-stop(56%,rgba(230,216,189,1)), color-stop(57%,rgba(233,219,192,1)), color-stop(58%,rgba(230,216,189,1)), color-stop(73%,rgba(230,216,189,1)), color-stop(74%,rgba(233,219,192,1)), color-stop(98%,rgba(233,219,192,1)), color-stop(100%,rgba(235,221,195,1)));

        background: linear-gradient(left, rgba(233,223,196,1) 0%,rgba(233,223,196,1) 1%,rgba(237,227,200,1) 2%,rgba(237,227,200,1) 24%,rgba(235,221,195,1) 25%,rgba(233,223,196,1) 48%,rgba(235,221,195,1) 49%,rgba(230,216,189,1) 52%,rgba(230,216,189,1) 53%,rgba(233,219,192,1) 54%,rgba(230,216,189,1) 55%,rgba(230,216,189,1) 56%,rgba(233,219,192,1) 57%,rgba(230,216,189,1) 58%,rgba(230,216,189,1) 73%,rgba(233,219,192,1) 74%,rgba(233,219,192,1) 98%,rgba(235,221,195,1) 100%);
    }

    .scrabble-tile.equals {
        box-shadow: 0px 0px white;
        border: 0px;
        background: white;
    }

    .scrabble-tile.equals .letter {
        color: black;
    }
    /* End Scrabble */

</style>