<!doctype html>
<html>
<head>
    {{> head}}
</head>

<body>

{{> header}}

<div class="container main">
    <div class="row">
        <div class="col-md-12">
            <h1>word pursuits</h1>
        </div>
        <div class="col-md-12">
            {{{body}}}
        </div>
    </div>
</div>

{{> footer}}

<script src="js/lib/application.js"></script>

</body>
</html>