<p>
    <span style="font-family:'Marcellus'">word pursuits</span> provides a fast, clean interface
    to search through all words. The word listing at the moment is composed of the Scrabble Collins
    Scrabble Words / SOWPODS list, which contains over 250,000 words. 
</p>