
<p>
    <span style="font-family:'Marcellus'">search for words
</p>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <input id="searchTerm" type="text" class="form-control" onclick="hideStartIndicator()" onkeyup="findWords()" placeholder="enter search term">
        <span class="searchspan"><i class="fa fa-search fa-lg"></i></span>
    </div>
    <div id="start-indicator" class="col-md-12 text-center text-primary">
        <i class="fa fa-arrow-up fa-5x pulse animated infinite"></i>
        <h2 style="margin-top: 0">enter a word to get started!</h2>
    </div>
</div>

<div id="initial-info" class="col-md-12">
    <br>
    <div class="well">
        <p>Enter a search term to get started!</p>

        <button class="btn btn-primary" onclick="exampleSearch()">Search for 'word'</button>
    </div>
</div>

<div id="filteredIndicator" class="row hidden">
    <div>
        <p class="filter bg-info">Item list filtered. Showing only 200 results.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul id="results" class="list-inline"></ul>
    </div>
</div>