
<p>
    <span style="font-family:'Marcellus'">word pursuits</span> provides a fast, clean interface
    to find words beginning with certain characters.
</p>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
        <input id="searchTerm" type="text" class="form-control" onkeyup="findWords()" placeholder="enter search term">
        <span class="searchspan"><i class="fa fa-search fa-lg"></i></span>
    </div>
</div>

<div id="initial-info" class="col-md-12">
    <br>
    <div class="well">
        <p>Enter a search term to get started!</p>

        <button class="btn btn-primary" onclick="exampleSearch()">Search for 'word'</button>
    </div>
</div>

<div id="filteredIndicator" class="row hidden">
    <div>
        <p class="filter bg-info">Item list filtered. Showing only 200 results.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul id="results" class="list-inline"></ul>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <h5>Definitions</h5>
                <dl id="word-definitions"></dl>
                
                <div id="related-section">
                    <h5>Related Definitions</h5>
                    <dl id="related-definitions"></dl>
                </div>

                <div id="scrabble-score-section">
                    <h5>Scrabble Score</h5>
                    <span id="score"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
