
<p>
    <span style="font-family:'Marcellus'">word pursuits</span> provides a fast, clean interface
    to find words beginning with certain characters.
</p>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
        <input id="searchTerm" type="text" class="form-control" onkeyup="findWords()" placeholder="enter search term">
        <span class="searchspan"><i class="fa fa-search fa-lg"></i></span>
    </div>
</div>

<div id="initial-info" class="col-md-12">
    <br>
    <div class="well">
        <p>Enter a search term to get started!</p>

        <button class="btn btn-primary" onclick="exampleSearch()">Search for 'word'</button>
    </div>
</div>

<div id="filteredIndicator" class="row hidden">
    <div>
        <p class="filter bg-info">Item list filtered. Showing only 200 results.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul id="results" class="list-inline"></ul>
    </div>
</div>